@font-face{
    font-family: 'Noto_Serif_Regular';
    src: url('../../fonts/NotoSerif/NotoSerif-Regular.ttf')
}
@font-face {
    font-family: 'Noto_Serif_Bold';
    src: url('../../fonts/NotoSerif/NotoSerif-Bold.ttf')
}
@font-face {
    font-family: 'Noto_Serif_Italic';
    src: url('../../fonts/NotoSerif/NotoSerif-Italic.ttf')
}
@font-face {
    font-family: 'Comfortaa_Regular';
    src: url('../../fonts/Comfortaa/Comfortaa-Regular.ttf')
}
@font-face {
    font-family: 'Comfortaa_Bold';
    src: url('../../fonts/Comfortaa/Comfortaa-Bold.ttf')
}
@font-face {
    font-family: 'Comfortaa_Medium';
    src: url('../../fonts/Comfortaa/Comfortaa-Medium.ttf')
}