.news-section ._container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Comfortaa_Medium;
  padding: 100px 50px;
  box-sizing: border-box; }
.news-section .slider-section {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  max-width: 1200px;
  width: 100%;
  max-height: 350px;
  height: 100%;
  border-top: 2px solid #b0d2dc;
  border-bottom: 2px solid #b0d2dc;
  padding: 25px 0; }
.news-section .slider-level {
  display: flex !important;
  justify-content: space-around !important; }
.news-section .slider-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 400px;
  max-width: 500px;
  height: 300px;
  background: #ededed;
  box-sizing: border-box;
  padding: 20px;
  margin: 0 20px; }
  .news-section .slider-content .title-section {
    display: flex;
    justify-content: space-between;
    max-width: 460px;
    width: 100%;
    margin-bottom: 30px; }
    .news-section .slider-content .title-section .date {
      margin-left: 20px; }
  .news-section .slider-content .content {
    line-height: 18px;
    height: 100%;
    overflow: hidden; }
  .news-section .slider-content .read {
    font-size: 16px;
    text-decoration: none;
    width: 120px;
    height: 30px;
    margin-top: auto; }

.quote-section {
  font-family: Noto_Serif_Italic;
  font-size: 28px;
  margin: 50px 0 150px 0; }

.all-news {
  width: 100%; }
  .all-news .title {
    display: block;
    text-align: center;
    font-size: 30px; }
  .all-news .allnews-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0; }
  .all-news .allnews-section {
    position: relative;
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    width: 100%;
    min-height: 150px;
    background-color: #ededed;
    padding: 10px 5px;
    box-sizing: border-box;
    margin-bottom: 100px; }
    .all-news .allnews-section:last-child {
      margin-bottom: 0; }
    .all-news .allnews-section .title {
      text-align: start; }
    .all-news .allnews-section button[class=more] {
      position: absolute;
      width: 25px;
      height: 25px;
      top: 10px;
      right: 10px;
      border-radius: 5px; }
      .all-news .allnews-section button[class=more] .description {
        position: absolute;
        display: none;
        font-size: 14px;
        width: 150px;
        height: 50px;
        background: #ededed;
        left: -117px;
        top: -70px; }
      .all-news .allnews-section button[class=more]:hover .description {
        display: block; }
    .all-news .allnews-section .details {
      display: block;
      font-family: Comfortaa_Bold;
      text-align: center;
      color: #6F98DB;
      cursor: pointer;
      margin: auto 0 0 0; }
    .all-news .allnews-section .img-section {
      width: 250px;
      cursor: default;
      margin-right: 10px; }
    .all-news .allnews-section .image {
      width: 250px;
      min-height: 142px;
      cursor: pointer; }
    .all-news .allnews-section .text-section {
      display: flex;
      flex-direction: column; }
      .all-news .allnews-section .text-section .text-head {
        display: flex;
        flex-direction: row;
        margin-bottom: 10px; }
      .all-news .allnews-section .text-section .date {
        margin-right: 20px; }
      .all-news .allnews-section .text-section .title,
      .all-news .allnews-section .text-section .date {
        font-size: 18px; }
      .all-news .allnews-section .text-section .text {
        line-height: 18px;
        max-width: 100%;
        box-sizing: border-box; }
      .all-news .allnews-section .text-section .original {
        display: none; }
  .all-news .load {
    max-width: 320px;
    width: 100%;
    margin: 0 auto; }

.slick-dots {
  display: flex;
  margin-top: 20px; }
  .slick-dots .slick-active {
    background-color: black; }
  .slick-dots li {
    width: 15px;
    height: 15px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 0 10px;
    cursor: pointer; }
  .slick-dots button {
    display: none !important; }

/*# sourceMappingURL=mainpage.css.map */
